{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "indent": ["warn", 4],
    "no-unused-vars": "warn",
    "no-debugger": "warn",
    "no-console": "warn"
  },
  "overrides": [
    {
      "files": [ "*.test.js" ],
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off"
      }
    }
  ]
}